atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
crypto==1.4.1
Flask==2.0.1
gunicorn==20.1.0
idna==2.10
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Naked==0.1.31
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycryptodome==3.10.1
pyparsing==2.4.7
pytest==6.2.3
PyYAML==5.4.1
requests==2.25.1
shellescape==3.8.1
simple-crypt==4.1.7
toml==0.10.2
urllib3==1.26.4
Werkzeug==2.0.1
