<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <!--href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
    />
    <title>
      {% block title %} Всякие туры {% endblock %} | Пора отдохнуть!
    </title>
  </head>
  <body>
    <!-- Brend-title and Navigation -->
    <header class="container mt-3">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">{{ title }}</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% for short_descr, full_descr in all_departures.items() %}
            <li class="nav-item">
              <a class="nav-link" href="/data/departures/{{ short_descr }}/"
                >{{ full_descr }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </header>

    <!-- Page content title -->
    {% block content_title %} {% endblock %}

    <!-- Page content -->
    {% block content %} {% endblock %}

  </body>
</html>
