{% extends 'base.html' %}

{% block content %} 
<main class="container mt-3">
    <!-- Back-button returns to main page -->
    <a href="/" class="mt-3 pb-5"><button type="button" class="btn btn-light">Вернуться на главную</button></a>
    
    <!-- Main title -->
    <h1 class="display-5 mt-4">Летим {{ all_departures[departure] }}</h1>

    <!-- Analitics -->
    <p class="mb-4">Найдено {{ all_tours|length }} туров, от 26 000 до 84 600 и от 4 ночей до 15 ночей</p>

    <!-- Cards -->
    <div class="row mt-5">
    {% for num_of_tour, tour_info in all_tours.items() %}
      {% if tour_info.departure == departure %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">  
          <img src="{{ tour_info.picture }}" class="card-img-top img-fluid embed-responsive-item" alt="">
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour_info.title }} {{ tour_info.stars }}*</h2>
            <p class="card-text">{{ tour_info.description }}</p>
            <a href="/data/tours/{{ num_of_tour }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>  
      {% endif %}
    {% endfor %}   
    </div>
</main>
{% endblock %}