{% extends 'base.html' %}

{% block content %}
<main class="container mt-3">
    <!-- Back-button returns to main page -->
    <section
    class="jumbotron text-center mt-4"
    style="
    background-position: center center;
    background-color: white;"
    >
      <h1 class="display-4">Упс! Страница не найдена</h1>
      <p class="lead">{{ message }}</p>
    </section>
    <div class="row">
      <div class="col text-center">
        <a href="/"><button type="button" class="btn btn-outline-info btn-lg ">Вернуться на главную</button></a>
      </div>
    </div>
  </main>  
{% endblock %}