{% extends 'base.html' %}

{% block content_title %}
{% endblock %}

{% block content %}
    <!-- Tour represented as a card -->
    <main class="container">
        <section class="mt-3 pb-5">
          <!-- Back-button returns to main page -->
          <a href="/"><button type="button" class="btn btn-light">Вернуться на главную</button></a>

          <h1 class="display-3 mt-4">{{ tour_info.title }} {{ tour_info.stars|int * '★' }}</h1>
          <p class="lead">{{ tour_info.country }} | {{ all_departures[tour_info.departure] }} | {{ tour_info.nights }} ночей</p>
          <img
            src="{{ tour_info.picture }}"
            class="w-75"
            alt="Photo"
          />
          <p class="my-4 w-75">{{ tour_info.description }}</p>
          <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tour_info.price }}</a>
        </section>
      </main>
{% endblock %}